html {
    box-sizing: border-box;
  }

header > h1 {
    font-family: "Fredoka One";
    color: rgb(213,142,51);
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

header > h1 > span {
    color: rgb(232,211,92);
}

header > p {
    text-align: center;
    margin-top: 0px;
    font-size: 25px;
    font-family: "Fira Sans";
    color: rgb(74,28,35);
    margin-bottom: 5px;
    
}

/* radio */

nav {
    display: flex;
    align-content: center;
}

.radio-tabs .estado {
    display: none;
}

.radio-tabs .tabs {
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 0.8em;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 20px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgb(213,142,51);*/
    cursor: hand;
    cursor: pointer;
    color: rgb(74,28,35);
}

.radio-tabs .tab:hover {
    border-bottom: 5px solid rgb(232,211,92);
    color: rgb(232,211,92)
}

.radio-tabs .tabs .tab {
    padding: 0.4em 0.5em;
}

.radio-tabs .painel {
    display: none;
}

#acreditamos:checked ~ nav .tabs #tab-acreditamos,
#fazemos:checked ~ nav .tabs #tab-fazemos,
#somos:checked ~ nav .tabs #tab-somos,
#misc:checked ~ nav .tabs #tab-misc {
    border-bottom: 5px solid rgb(213,142,51);
    color: rgb(213,142,51);
}

#acreditamos:checked ~ .paineis #painel-acreditamos,
#somos:checked ~ .paineis #painel-somos,
#misc:checked ~ .paineis #painel-misc,
#fazemos:checked ~ .paineis #painel-fazemos {
    display: block;
}

#container-do-grid {
    display: grid;
    width: 580px;
    max-width: 600px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template: 
    "ressig-texto ressig-img fluxo-rec-img ."
    ". bspn-texto fluxo-rec-texto entende-img"
    "divida-texto bspn-img . entende-texto"
    "divida-img gfsm-texto gfsm-img divida-num-texto"
    "peppa-img bspn-interativo-img bspn-interativo-texto divida-num-img"
    "peppa-texto . divida-estmun-img ."
    ". clusters-img divida-estmun-texto ."
    ". clusters-texto api-img api-texto";
    margin-left: auto;
    margin-right: auto;
    /*justify-items: "center";
    align-items: "center";*/
}

#painel-acreditamos, #painel-somos, #painel-misc {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Fira Sans";
    font-weight: bold;
    line-height: 1.4;
    color: rgb(74,28,35);
    /*border: 1px solid firebrick;*/
    background-color: cornsilk;
    padding: 25px;
    margin-bottom: 25px;
}

#painel-acreditamos > p {
    margin-left: auto;
    margin-right: auto;
}

#painel-acreditamos em {
    background-color: rgb(232,211,92);
    font-style: normal;
}

.cor1 {
    background-color: rgb(213,142,51);
    border: 10px solid rgb(213,142,51);
    color: ivory;
}

.cor3 {
    background-color: rgb(74,28,35);
    border: 10px solid rgb(74,28,35);
    color: ivory;
}

.cor2 {
    background-color: rgb(232,211,92);
    border: 10px solid rgb(232,211,92);
    color: rgb(74,28,35);
}

/* isso aqui foi fundamental pro grid ficar certinho.. :/ as imagens lascam tudo. */
#container-do-grid img {
    width: 129px;
    height: 129px;
}

#container-do-grid > p {
    font-family: 'Fredoka One';
    font-size: 20px;
}

#container-do-grid > * {
    margin: 0;
    padding: 0;
}

#container-do-grid a {
    text-decoration: none;
    color: ghostwhite;
}

#container-do-grid .cor2 a {
    text-decoration: none;
    color: rgb(74,28,35);
}

p.ressig {
    grid-area: ressig-texto;
}

img.ressig {
    grid-area: ressig-img;
}

p.fluxo-rec {
    grid-area: fluxo-rec-texto;
}

img.fluxo-rec {
    grid-area: fluxo-rec-img;
}

p.bspn {
    grid-area: bspn-texto;
}

img.bspn {
    grid-area: bspn-img;
}

p.entende {
    grid-area: entende-texto;
}

img.entende {
    grid-area: entende-img;
}

p.divida {
    grid-area: divida-texto;
}

img.divida {
    grid-area: divida-img;
}

p.gfsm {
    grid-area: gfsm-texto;
}

img.gfsm {
    grid-area: gfsm-img;
}

p.divida-num {
    grid-area: divida-num-texto;
}

img.divida-num {
    grid-area: divida-num-img;
}

p.bspn-interativo {
    grid-area: bspn-interativo-texto;
}

img.bspn-interativo {
    grid-area: bspn-interativo-img;
}

p.peppa {
    grid-area: peppa-texto;
}

img.peppa {
    grid-area: peppa-img;
}

p.divida-estmun {
    grid-area: divida-estmun-texto;
}

img.divida-estmun {
    grid-area: divida-estmun-img;
}

p.clusters {
    grid-area: clusters-texto;
}

img.clusters {
    grid-area: clusters-img;
}

p.api {
    grid-area: api-texto;
}

img.api {
    grid-area: api-img;
}

#painel-somos > .contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#painel-somos .cartao {
    padding: 5px;
    background-color: rgb(232,211,92);
    margin: 5px;
    flex: 0 0 275px;
}

#painel-somos .cartao > h3 {
    margin: 3px 0px;
}

#painel-somos .cartao > p {
    margin: 1px 0px;
    font-size: 0.8em;
}

#painel-somos .cartao > address {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
}

#painel-somos a {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    text-decoration: none;
}

#painel-somos img {
    display: inline-block;
    vertical-align: middle;
}

#painel-misc h3 span {
    border-bottom: 4px solid rgb(213,142,51);
    color: rgb(213,142,51)
}

#painel-misc p {
    margin-left: 10px;
}

#painel-misc a {
    box-shadow: inset 0em -0.3em rgb(232,211,92);
    text-decoration: none;
    color: rgb(74,28,35);
}

#painel-misc em {
    font-size: 0.9em;
}

/* mobile */

@media only screen and (max-width: 630px)  {

    #container-do-grid {
        display: grid;
        width: 290px;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template: 
        "ressig-texto ressig-img"
        "fluxo-rec-img bspn-texto"
        "fluxo-rec-texto bspn-img"
        "entende-img entende-texto"
        "divida-texto divida-img"
        "gfsm-img gfsm-texto"
        "divida-num-texto divida-num-img"
        "bspn-interativo-img bspn-interativo-texto"
        "peppa-texto peppa-img"
        "divida-estmun-img divida-estmun-texto"; 
        margin-left: auto;
        margin-right: auto;
        /*justify-items: "center";
        align-items: "center";*/
    }

    .radio-tabs .tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5% 0;
        margin-bottom: 0;
    }

    .radio-tabs .tabs .tab {
        padding: 0.3em;
        flex: 0 0 40%;
        text-align: center;
        padding: 5% 3%;
    }

    .radio-tabs .tab:hover {
        border-bottom: none;
        color: rgb(232,211,92)
    }

    #acreditamos:checked ~ nav .tabs #tab-acreditamos,
    #fazemos:checked ~ nav .tabs #tab-fazemos,
    #somos:checked ~ nav .tabs #tab-somos,
    #misc:checked ~ nav .tabs #tab-misc {
        color: ghostwhite;
        background-color: rgb(213,142,51);
        border-bottom: none;
}


}
