html {
    box-sizing: border-box;
  }

body {
    /* background-color: ivory;*/
}

header > h1 {
    font-family: "Fredoka One";
    color: rgb(50,156,50);
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

header > h1 > span {
    color: rgb(255,213,0);
}

header > p {
    text-align: center;
    margin-top: 0px;
    font-size: 25px;
    font-family: "Fira Sans";
    color: dimgray;
    margin-bottom: 5px;
    
}

/* radio */

nav {
    display: flex;
    align-content: center;
}

.radio-tabs .estado {
    display: none;
}

.radio-tabs .tabs {
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 0.8em;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 20px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgb(50,156,50);*/
    cursor: hand;
    cursor: pointer;
}

.radio-tabs .tab:hover {
    border-bottom: 5px solid rgb(255,213,0);
    color: rgb(255,213,0)
}

.radio-tabs .tabs .tab {
    padding: 0.4em 0.5em;
}

.radio-tabs .painel {
    display: none;
}

#acreditamos:checked ~ nav .tabs #tab-acreditamos,
#fazemos:checked ~ nav .tabs #tab-fazemos,
#somos:checked ~ nav .tabs #tab-somos,
#misc:checked ~ nav .tabs #tab-misc {
    border-bottom: 5px solid rgb(50,156,50);
    color: rgb(50,156,50);
}

#acreditamos:checked ~ .paineis #painel-acreditamos,
#somos:checked ~ .paineis #painel-somos,
#misc:checked ~ .paineis #painel-misc,
#fazemos:checked ~ .paineis #painel-fazemos {
    display: block;
}

#container-do-grid {
    display: grid;
    width: 600px;
    max-width: 600px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template: 
    "ressig-texto ressig-img fluxo-rec-img ."
    ". bspn-texto fluxo-rec-texto entende-img"
    "divida-texto bspn-img . entende-texto"
    "divida-img . . .";
    margin-left: auto;
    margin-right: auto;
    /*justify-items: "center";
    align-items: "center";*/
}

#painel-acreditamos, #painel-somos, #painel-misc {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Fira Sans";
    font-weight: bold;
    line-height: 1.4;
    color: #777;
    /*border: 1px solid firebrick;*/
    background-color: cornsilk;
    padding: 25px;
    margin-bottom: 25px;
}

#painel-acreditamos > p {
    margin-left: auto;
    margin-right: auto;
}

#painel-acreditamos em {
    background-color: rgb(255, 213, 0);
    font-style: normal;
}

.vermelho {
    background-color: rgb(50,156,50);
    border: 10px solid rgb(50,156,50);
    color: ivory;
}

.azul {
    background-color: rgb(0, 74, 147);
    border: 10px solid rgb(0, 74, 147);
    color: ivory;
}

.amarelo {
    background-color: rgb(255,213,0);
    border: 10px solid rgb(255,213,0);
    color: ivory;
}

/* isso aqui foi fundamental pro grid ficar certinho.. :/ as imagens lascam tudo. */
#container-do-grid img {
    width: 129px;
    height: 129px;
}

#container-do-grid > p {
    font-family: 'Fredoka One';
    font-size: 20px;
}

#container-do-grid > * {
    margin: 0;
    padding: 0;
}

p.ressig {
    grid-area: ressig-texto;
}

img.ressig {
    grid-area: ressig-img;
}

p.fluxo-rec {
    grid-area: fluxo-rec-texto;
}

img.fluxo-rec {
    grid-area: fluxo-rec-img;
}

p.bspn {
    grid-area: bspn-texto;
}

img.bspn {
    grid-area: bspn-img;
}

p.entende {
    grid-area: entende-texto;
}

img.entende {
    grid-area: entende-img;
}

p.divida {
    grid-area: divida-texto;
}

img.divida {
    grid-area: divida-img;
}

#painel-somos > .contatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#painel-somos .cartao {
    padding: 5px;
    background-color: khaki;
    margin: 5px;
    flex: 0 0 275px;
}

#painel-somos .cartao > h3 {
    margin: 3px 0px;
}

#painel-somos .cartao > p {
    margin: 1px 0px;
    font-size: 0.8em;
}

#painel-somos .cartao > address {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
}

#painel-somos .cartao > img {
    display: inline-block;
    vertical-align: middle;
}

#painel-misc h3 span {
    border-bottom: 4px solid rgb(255,213,0);
    color: #444
}

#painel-misc p {
    margin-left: 10px;
}